<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;border:none;width: 50%;;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-oscuro{background-color:#D2E4FC;font-family:"Comic Sans MS", cursive, sans-serif ;;text-align:center;vertical-align:top}
.tg .tg-negrita{font-weight:bold;font-family:"Comic Sans MS", cursive, sans-serif ;;text-align:center;vertical-align:top}
.tg .tg-claro{font-family:"Comic Sans MS", cursive, sans-serif ;;text-align:center;vertical-align:top}
.tg .tg-negrita2{background-color:#D2E4FC;font-weight:bold;font-family:"Comic Sans MS", cursive, sans-serif ;;text-align:center;vertical-align:top}
</style>